<div class="ui grid" style="padding: 5em 5em 5em 5em">
    <table class="ui celled table four wide column">
        <tr>
            <td>Name: </td>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <td>Username: </td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{user.email}}</td>
        </tr>

    </table>
</div>