<table>
    <tr>
        <td>Name: </td>
        <td>{{user.firstName}}</td>
    </tr>
    <tr>
        <td>Username: </td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{user.email}}</td>
    </tr>

</table>