<div class="ui grid">
    <div class="four wide column"></div>
    <table class="ui very basic table six wide column" style="margin: 2em auto auto auto">
        <tr>
            <td>Name: </td>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <td>Username: </td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Recieve emails:</td>
            <td>
                <div class="ui slider checkbox">
                    <input type="checkbox" name="notifications">
                    <label></label>
                </div>
            </td>
        </tr>

        <tr>
            <td><button class="ui button" type="submit">Save Changes</button></td>
            <td></td>

        </tr>
    </table>
    <div class="four wide column"></div>
</div>