<script>
    $(document).ready(function () {
        //delete class
        $('#classList table tbody').on('click', 'td button.deleteClass', deleteClass);
    });
</script>

<div class="ui stackable grid" style="margin: 2em 2em 2em 2em">
    <div class="four wide column" style="padding: 1em 1em 1em 1em;">
        <h2> Enter a class name and crn </h2>
        <form class = "ui large form "action="/addclass" method="post">
            <input name="name" type="text" style = "margin-bottom:2em" placeholder="Enter class name">
            <input name="crn" type="text" style = "margin-bottom:2em" placeholder="Enter class CRN">
            <select class="ui dropdown" style="margin-bottom:1em">
                <option value="">Semester</option>
                <option value="1">Spring 2017</option>
                <option value="0">Fall 2017</option>
            </select>
            <button type="submit" id="btnAddClass" class="ui button">Submit</button>
        </form>
    </div>
    <div class="twelve wide column">
        <h2> Classes being monitored </h2>
        <div id="classList">
            <table class="ui very basic unstackable table">
                <tbody>
                    {{#each user.classes}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.spots}}</td>
                            <td class="ui collapsing"><button class = "deleteClass ui button" rel="{{this._id}}">X</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>





<script>
    // Delete class
    function deleteClass(event) {

        event.preventDefault();
        $.ajax({
            type: 'DELETE',
            url: '/deleteClass/' + $(this).attr('rel')
        }).done(function (response) {
            if (response) {
                console.log(response);
            }
            else {
                location.reload(true);
            }

            // Update the table
            //populateClasses();

        });


    };
</script>
